body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul {
	list-style: none;
}
li {
	float: left;
}
a:link, a:visited {
	text-decoration: none;
}
.clear{
	clear:both;}
.box{
	width: 100px;
	height:100px;
	background: #ccc;
	animation: turn 1s;
}
@keyframes turn{
	from{
		transform: rotate(0deg);
						transform: translate3d(100px,100px,100px);

	}
	to{
		transform: rotate(360deg);
				transform: translate3d(0,0,0);

	}
}